/* Calendar.module.css */




.eventForm {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.eventForm input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eventForm button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.eventForm button:hover {
  background-color: #45a049;
}

.eventsList {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.eventsList h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.eventsList ul {
  list-style-type: none;
  padding: 0;
}

.eventsList li {
  font-size: 1rem;
  margin-bottom: 5px;
}


.totalContainer {
  margin-top: 20px;
  text-align: center;
}

.selectStyled {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.totalButton {
  background-color: #45a049;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.totalButton:hover {
  background-color: #c0c0c0;
}

.totalDisplay {
  background-color: yellow;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
}


.eventForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.selectStyled {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.eventsList {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.totalContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.totalButton {
  background-color: #ff99bb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.totalButton:hover {
  background-color: #ff6699;
}

.totalDisplay {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff3366;
}

.weekDetail {
  margin-top: 20px;
  padding: 0;  /* Inicialmente sin padding */
  border-radius: 10px;
  background-color: #ffdde1;
  width: 100%;
  max-width: 400px;

  max-height: 0;  /* Oculto inicialmente */
  overflow: hidden;
  transition: max-height 1.5s ease-in-out, padding 1s ease-in-out;
}

.weekDetail.show {
  max-height: 500px;  /* Ajusta según el contenido */
  padding: 10px;  /* Se agrega suavemente */
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}



@media (max-width: 480px) {
  .weekDetail {
    width: auto;
    max-height: 300px; /* Ajusta según lo necesario */
    overflow-y: auto; /* Permite scroll si hay demasiado contenido */
  }
}