#root {

  margin: 0;
  text-align: center;

}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #d5d4d4; /* Color de fondo en modo claro */
  transition: background-color 0.3s ease;
}

.App.dark {
  background-color: #333333; /* Color de fondo en modo oscuro */
}


.appTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .appTitle {
    font-size: 1.8rem;
  }
}